.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
  gap: 30px;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  margin-bottom: 30px;
}

.timeline-left {
  flex: 1 110px;
  text-align: left;
  font-size: 1rem;
  color: var(--primary-color);
}

.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: relative;
  margin-top: 8px;
}

.timeline-dot::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 2px;
  height: calc(100% + 50px);
  background-color: var(--secondary-color);
  transform: translate(-50%);
  margin-top: 25%;
}

.date {
  font-weight: bold;
  margin-bottom: 0;
}

.location {
  font-style: italic;
  margin-top: 7px;
}

.timeline-rigth {
  flex: 2;
  padding-left: 20px;
}

.company {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--primary-color);
}

.job-title {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 5px 0;
}

ul {
  margin-top: 10px;
  padding-right: 20px;
}

li {
  margin-bottom: 5px;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .timeline-left {
    text-align: center;
    flex: 1;
  }

  .timeline-left {
    margin-bottom: 0;
  }

  .timeline-dot {
    display: none;
  }

  .timeline-rigth {
    padding-left: 0;
  }

  .timeline-rigth p {
    margin-top: 0;
  }

  ul {
    list-style: none;
  }
  
}