.experience {
  padding: 20px 40px;
}

.experience h3{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #03002e;
}

.timeline {
  position: relative;
  padding-left: 30px;
  border-left: 2px solid #e0e0e0;
}

.timeline-item {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.timeline-dot {
  position: absolute;
  left: -7px;
  top: O;
  width: 10px;
  height: 10px;
  background-color: #03002e;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.timeline-content {
  margin-left: 20px;
  flex: 1;
}

.experience-details {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #010057;
}

.company {
  font-weight: bold;
  color: #03002e;
}

.location, .date {
  font-style: italic;
  color: #666666;
}

.role-details {
  margin-top: 5px;
}

.job-title {
  font-size: 1rem;
  font-weight: bold;
  color: #03002e;
}

ul{
  margin: 10px 0 0 15px;
  padding: 0;
  list-style-type: disc;
  color: #090088;
}

ul li {
  margin-bottom: 5px;
  font-size: 0.9rem;
}