.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  /* background-color: var(--background-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  flex-wrap: wrap;
}

.header-left {
  flex: 1;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0;
}

.title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 10px 0;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: var(--primary-color);
}

.icon {
  color: var(--secondary-color);
}

.contact-info span {
  margin-left: 10px;
}

.header-right {
  flex: 0 0 auto;
  text-align: center;
}

.profile-photo {
  width: 200px;
  height: 200px;
  /* border: 10px solid var(--secondary-color); */
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .name {
    font-size: 2rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .contact-info {
    grid-template-columns: 1fr;
  }

  .profile-photo {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 1.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .profile-photo {
    width: 120px;
    height: 120px;
  }
}
